p {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    background-color: #58509D;
    color: #f5f5f5;
    height: 220px;
    padding: 15px;
}

.iconos-header {
    display: flex;
    justify-content: end;
    gap: 60px;
}

body {
    font-family: "Inter", sans-serif;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    margin: 0;
}

main {
    flex: 1;
}

.account-balance {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;
    margin: 0;
}

.movements {
    display: flex;
    justify-content: space-around;
    font-size: x-large;
}

.balance {
    margin-top: 10px;
    font: 500;
    font-size: large;
    font-family: "Inter", sans-serif;
}

/* truchada */
.arco {
    background-color: #58509D;
}

.chart-text {
    color: #58509D;
}


.total {
    font-family: "Inter", sans-serif;
    font-size: 50px;
}

.digite {
    font-size: 35px;
}

.dashboard {
    display: flex;
}

.flex {
    display: flex;
    justify-content: space-around;
    text-align: justify;
    padding: 2%;
    width: 70%;
    gap: 0 25px;
}

.iconos-body {
    position: absolute;
    z-index: 999;
    left: 95%;
    top: 88%;

}

.category-list {
    display: flex;
    flex-direction: column;
    gap: 15px 0;
    padding: 15px;
}

.category-circle {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    margin-top: 5px;
    background-color: var(--color);
}

.item {
    display: flex;
    gap: 15px;
}

.chart-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.category-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.total-text {
    color: #58509D;
    font-size: x-large;
    font: bold;
}

.small-text {
    font-size: medium;
}

.select {
    color: #58509D;
}

.no-select {
    color: #8683a0;
}

.chart-img {
    height: 405px;
}

.footer {
    height: 30px;
    background-color: #58509D;
    color: #f5f5f5;
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/*Categories */

.categoryMark {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top :25px;
}

.category-title{
    display: flex;
    justify-content: center;
    color: #58509D;
    font-size: x-large;
    margin-bottom: 40px;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 30%;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    text-align: center;
    gap: 60px;
}

.category-grid img {
    height: 50px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
}

.perfil-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    width: fit-content;
    margin: 0 auto;
    gap: 20px 0;
}

.perfil-list a {
    display: flex;
    align-items: center;
    gap: 5px;
}